.settings-view {
  .settings-content {
    margin: 20px 90px;

    .paper-content{
      max-width: 600px;
      margin: 0 auto;
      padding-top: 30px;
    }

    .two-inputs{
      margin-left: -15px;
      margin-right: -15px;
    }

    .avatar-edit {
      & > div:first-of-type {
        padding: 0 20px;
        text-align: right;
      }

      & > div:last-of-type {
        padding-top: 20px;

        a{
          margin: 5px 10px;
        }
      }
    }

    .button-container {
      padding: 20px;
      text-align: center;
    }
  }
}