.calendar {
  width: 90%;
  margin: 20px auto;
  .no-openings-label {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
  }
  .nav{
    padding: 0px 10px 30px 5px;
    font-size: 14px;
    .prev, .next{
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      background-color: rgba(0,0,0,0.05);
      border: 1px solid rgba(0,0,0,0.1);
      &:hover{
        background-color: rgba(0,0,0,0.1);
      }
    }
    .next{
      float: right;

    }
  }
  .labels {
    width: 5%;
    display: inline-block;

    .hour-label{
      height: 47px;
      font-size: 15px;
      font-weight: bold;

    }
  }

  .days-container {
    width: 95%;
    display: inline-block;

    .day-container {
      display: inline-block;
      width: 14.28%;

      .day-label {
        text-align: center;
        text-transform: uppercase;
      }

      .block {

        margin: 10px 5px;
        padding: 6px 2px 3px 2px;
        border: 1px solid rgba(0,0,0,0.3);
        background-color: rgba(0,0,0,0.1);
        border-radius: 2px;
        text-align: center;


        svg {
          fill: white !important;
          height: 22px;
          width: 22px;
          visibility: hidden;
        }

      }
      .visit{
        background-color: #962D3E;
      }
      .free{
        background-color: #2D9641;
        cursor: pointer;
        &:hover
        {
          background-color: lighten(#2D9641, 10%);
          svg {
            visibility: visible;
          }
        }

      }
    }
  }
}