.visits-view{


  .avatar-container{

  }

  .visit-container{
    display: flex;
    border: 2px solid black;

  }


  .info-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 5px solid green;
    & > p{
     flex: 1 0 50%;
     text-align: center;
     margin:0;
    }
  }




}

