// div.no-padding {
//    & > div{
//      padding: 3px !important;
//      border: 3px !important;
//    }
// }

div.no-padding {

   padding: 0 !important;
   margin: 0 !important;
}

.visits-view{


  .header-info{
    font-size: 18px;
    //font-weight: 300;
    font-family: sans-serif;
    //border:solid 2px black;
    padding-bottom: 30px;
    //color: red;
  }




  .visit-container{
    //position: relative;
    display: flex;
    border: 2px solid red;
    margin: 5px;
  }

  .info-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    & > p{
     flex: 1 0 50%;
     text-align: center;
     margin:0;
    }
  }

}

