// div.no-padding {
//    & > div{
//      padding: 3px !important;
//      border: 3px !important;
//    }
// }

.visits-view{

  .visit-container{
    display: flex;
    //border: 2px solid red;
  }

  .info-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    & > p{
     flex: 1 0 50%;
     text-align: center;
     margin:0;
    }
  }

}

