.sign-up-confirmation{
  color: rgba(0,0,0,0.7);
  h1{
    text-align: center;
    color: #235B66;
  }

  .button-container{
    margin-top: 27px;
  }

  .wishes{
    text-align: center;
    font-size: 15px;
  }

}