$background-color: #E0E4CC;
$image-height: 490px;
$option-box-width: 300px;
$icon-size: 90px;
.welcome-view{
  height: 100%;
  position: relative;

  div.no-padding {

     padding: 0;
     margin: 0;
  }

  .image-box {
      width: 100%;
      min-height: $image-height;
      height: 100%;
      background-size: cover;
      background-position: center;
  }

  .svg-icon{
    display: inline-block;
  	width: 2em;
  	height: 2em;
  	fill: currentColor;
  }

  .icon{
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    margin: 0 auto;
    top: -$icon-size/2;
    right: $option-box-width/2;
    transform: translateX(-35%);
    border-radius: $icon-size/2;;
  }

  .patient-icon{
     @extend .icon;
      background-color: orange;
  }

  .doctor-icon{
     @extend .icon;
      background-color: green;
  }

  .patient-image {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .doctor-image {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .background-image {
      width: 100%;
      height: 50%;
      min-height: 448px;
      background-size: cover;

      .option-container{
        position: relative;
        top: 145px;
        width: 900px;
        height: 250px;
        margin: auto auto;

        .option-box{
          width: $option-box-width;
          height: 170px;
          background-color: #2D2D2D;
          margin: auto auto;
          padding-top: 39px;
          text-align: center;
        }
      }
  }

  .text-box{
      width: 530px;
      //border :2px solid black;
      position: absolute;
      top: 1/4*$image-height;
      left: 70px;
  }

  .button-container{
    top:10px;
    position: relative;
  }

  .registration-text{
    font-size: 18px;
    font-weight: 300;
    font-family: sans-serif;
    color: rgba(255,255,255,.9);
  }

  .text{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgba(0,0,0,.6);
    letter-spacing: -1px;
  }

  .title-heading{
   @extend .text;
   font-size: 45px;
   font-weight: 300;
  }

  .title-content{
    @extend .text;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5em;
    padding-top: 20px;
  }

  .button-box{
    position: relative;
    top: 30px;
    margin-right: 80px;

    a{
      font-size: 16px;

    }
  }
}