.header-bar{
  top: 0px;
  color: white;
  position: fixed;
  height: 50px;
  border-bottom: solid 1px rgba(255,255,255,.1);
  background-color: #3E414F;
  width: 100%;

  & > * {
    display: inline-block;
  }

  .header-bar-right{
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    padding: 0 5px;
    float: right;
    width: auto;
    height: 50px;
    font-size: 13px;
    &:hover{
      background-color: #343642;
    }
  }

  .avatar, .arrow-down, .nickname{
    height: 100%;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
  }
  .nickname{
    padding: 18px 10px;
  }
  .arrow-down {

    & > svg{
    height: 10px;
    }
  }

  header{
    height: 100%;
    padding: 12px;
    width: 260px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    cursor: pointer;

    &:hover{
      letter-spacing: 5px;
      font-weight: bold;
    }
  }

  .dropdown-menu{
    top: 50px;
    right: 20px;
    left:0px;
    width: 100%;
    border: solid 1px rgba(0,0,0,.1);
    border-top: none;
    color: black;
    z-index: 100;
    position:absolute;

    ul{
      margin: 5px 0;
      padding: 0;
      text-align: left;
      width: 100%;
      list-style-type: none;

      li{
        padding: 10px 20px;
        &:hover{
          background-color: #ededed;
        }
      }
    }
  }

}