.input-container{
  padding:0 5px;

  input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }

  &.error {
    input{
      border: 1px solid #BD2634;
    }
    .error-message{
      visibility: visible;
      color: #BD2634;

    }
  }
}

.error-message{
  visibility: hidden;
  font-size: 11px;
  padding: 3px;
}