:global {
  @import 'base';
  @import 'vendor/normalize';

  html {

    box-sizing: border-box;
  }

  html,
  body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 13px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a:visited, a:hover, a:link{
    text-decoration: none;
  }
}